

@scope(.header){
    :scope{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding-block:20px;
        position:sticky;
        top:0;
        z-index:1;
        background-color:var(--dark-purple);
        box-shadow:0 2px 10px;
        padding-inline:20px;
        clip-path: inset(0px 0px -10px 0px);
    }
    @scope(>div){
        :scope{
            display:contents;
        }
        >a{
            text-decoration:none;
            font-weight:bold;
            font-size:2rem;
            color:var(--platinum);
        }
        >button{
            position:relative;
            background-color:transparent;
            border-width:0;
            width:40px;
            height:40px;
            display:none;
            cursor:pointer;
        }
        >button::after{
            content:"";
            display:block;
            top:0;
            bottom:0;
            right:0;
            left:0;
            position:absolute;
            background-color:var(--platinum);
            mask-image:url("https://img.icons8.com/ios/50/menu--v1.png");
            mask-repeat:no-repeat;
            mask-position:center;
            mask-size:80%;
        }
    }
    @scope(>form){
        :scope{
            display:flex;
            border-radius:20px;
            background-color:var(--platinum);
            padding-inline:10px;
        }
        >input{
            border-width:0;
            background-color:transparent;
        }
        >input:focus{
            outline-width:0;
        }
        >button{
            position:relative;
            background-color:transparent;
            border-width:0;
            width:40px;
            height:40px;
            cursor:pointer;
        }
        >button:focus{
            outline-width:0;
        }
        >button::after{
            content:"";
            display:block;
            top:0;
            bottom:0;
            right:0;
            left:0;
            position:absolute;
            background-color:var(--black);
            mask-image:url("https://img.icons8.com/ios-glyphs/30/search--v1.png");
            mask-repeat:no-repeat;
            mask-position:center;
            mask-size:80%;
        }
    }
}




@media(max-width:700px){

    @scope(.header){
        :scope{
            flex-direction:column;
            gap:10px;
            justify-content:flex-start;
            align-items:normal;
        }
        @scope(>div){
            :scope{
               display:flex;
               justify-content:space-between;
               align-items:center;
            }
            >a{
            }
            >button{
                display:initial;
            }
        }
        @scope(>form){
            :scope{
                display:flex;
            }
            >input{
                flex-grow:1;
            }
            >button{
               
            }
           
        }
    }

}




