


form2{
    display:inline-block;
}


form2 form{
    width:300px;
    display:flex;
    flex-direction:column; 
    padding:20px; 
    font-family:arial;
    background: linear-gradient(140deg, rgb(171, 171, 231) 30%, rgb(238, 209, 209) 70%, rgb(224, 162, 224) 71%,  rgb(224, 162, 224) 100% );
}

form2 form > span{
    /* text-align:center; */
    font-weight:bold;
    color:grey;
    font-size:2rem;
    padding-bottom:20px;
}


form2 .name-info{
    gap:10px;
}


form2 div[class$="info"]{
    display:flex;
    padding-left:20px;
    padding-block:20px;
    margin-left:7px;
}

form2 div[class$="info"]:not(form2 .phone-info){
    border-left:1px dotted grey;
}

form2 div[class$="info"] input{
    width:0px;
    flex-grow:1;
    border-width:0;
    border-bottom:1px solid grey;
    background: transparent;
    color:grey;
}


form2 div[class$="header"] span:first-child{
    display:inline-block;
    width:20px;
}

form2 div[class$="header"] span:nth-child(2){
    font-weight:bold;
    color:grey;
    font-size:1.2rem;
}

form2 .phone-header span:nth-child(3){
    font-size:0.8rem;
    color:rgb(182, 180, 180);
}


form2 div[class$="info"] input:focus{
    outline-width:0;
}


form2 form > *:last-child input{
    padding:10px;
    font-weight:bold;
    color:grey;
    border-radius:15px;
    border-width:0px;
    background:transparent;
    box-shadow:2px 2px 5px 2px;
    cursor:pointer;
}

form2 form > *:last-child input:active{
    box-shadow:0px 0px ;
    border:1px solid grey;
}

form2 form > *:last-child{
    text-align:center;
}



